@use '../util' as u;

.hero{
    display: flex;
    align-items: center;
        .row_1 {
            .api {
                color: black;
                padding-left: 150px;
            }
            .apitogether {
                color: black;
                padding-top: 5px;
                font-size: larger;
                padding-left: 150px;
            }
            p {
                padding-top: 5px;
                padding-left: 150px;
                margin-right: 90px;
                float: left;
                color: black;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }

            
        }
    
        .row_2 {
            img {
                width: 994px;
                height: 610px;  
                float: right;
            }   
        }
}

