@use '../util' as u;

.hero2{
    display: flex;
    align-items: center;
        .row_1 {
            .postman-def{
                color: black;
                padding-left: 150px;
            }
            p {
                padding-top: 10px;
                padding-left: 150px;
                margin-right: 90px;
                float: left;
                color: black;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }
        }
    
        .row_2 {
            img {
                // position:initial;
                width: 312px;
                // height: 205px;
                margin-left: 300px;
                // margin-top: 30px;
                // float: right;
                // right: -10px;
                // bottom: -125px;
            }   
        }
    
}
