@use '../util' as u;

.hero2{
    display: flex;
    align-items: center;
        .row_1 {
            p {
                padding-top: 100px;
                padding-left: 150px;
                margin-right: 90px;
                float: left;
                color: black;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }
        }
    
        .row_2 {
            img {
                // position: absolute;
                width: 312px;
                height: 205px;
                float: right;
                // right: -10px;
                // bottom: -125px;
            }   
        }
    
}
